*{margin:0 ; padding:0}
	a{
		text-decoration:none;
		text-transform:uppercase;
	}
	.left{
	float:left;
}
.right{
	float:right;
}

.header{
	width:100%;
	background:#FFFFFF;
	
}
.sub header{
	
	width:770px;
	margin:0 auto;
	margin-left:200px;
	height:24px;
	height:24px;
	padding:8px;
}

.logo{
	height:30px;
	
}
.logo img{
	
	height:30px;
}
.search{
	margin-top:3px;
	margin-left:8px;
	
}
	.search input{
	    background: #F2F2F2;
    border: 0px;
    padding: 5px;
    width: 226px;
	background-image:url(img/search.png);
	background-size:18px;
	background-repeat:no-repeat;
	background-position:right;
	}
	.search input[type="text"]{
	 font-size:11px;
	 padding-left:5px;
	 
	
}
	.headright{
	
		    margin-left: 67px;
    padding: 4px;
    float: right;
	}
	.headright div.right{
		
		margin-left:15px;
	}
	.headright div.right a{
		color:#333333;
		font-weight:normal;
		font-size:10px;
		border-bottom:none;
		transition: .3s all;
	}
	.headright div.right a:hover{
		color:green;
		border-bottom:2px solid green;
		font-weight:bold;
	}
	 
	.menu{
		background:#333333;
		
		height:35px;
	}
	.menu a{
		color:white;
		margin-bottom:none;
		transition: .1s all;
	}
	.menu a:hover{
		color:lightgreen;
		margin-bottom:2px solid green;
	}
	.navigation{
	width: 591px;
    margin-left: 316px;
    padding-top: 12px;
}
	nav div{
		font-size:11px;
		font-weight:normal;
		margin-left:15px;
		margin-bottom:none;
		transition: .3s all;
	}
	nav div:hover{
		font-size:12px;
		font-weight:bold;
		margin-left:15px;
		border-bottom:2px solid green;
	}
	
	.content{
    width: 826px;
    margin-left: 129px;
    margin-top: 24px;
    color:#8E8E8E;
		
	}
	content div.left{
		
		width:260px;
		
	}
	.shop{
		background:#000000;
		text-transform:uppercase;
		width:155px;
		border-bottom:none;
		transition: .3s all;
	}
	.shop:hover{
		background:green;
		width:155px;
		border-bottom:2px solid green;
	}
	
	
	.shop a{
		color:#F7F7F7;
		
	}
	.discribe h1{
		color:#272727;
		font-weight:bold;
		margin-bottom:8px;
	}
	.discribe p{
		
		float:left;
		font-size:16px;
		margin-bottom:5px;
		
		
	}.discribe h5{
		
		float:left;
		padding-left:3px;
		padding-right:3px;
		padding-top:5px;
		font-size:12px;
		
		
		
	}
	.shop h4{
		padding:15px 25px;
		margin-top:8px;
		
		
	}
	.content img{
		width:400px;
		float:right;
		
	}
	
	
}
	.footer{
		width:100%;
		background:#F7F7F7;
		margin-top:800px;
				
	}
	#last{
		margin-top:435px;
		background:#F7F7F7;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:526px;
		border-top:0.5px solid #8E8E8E;
	}

	#last a{
		color:black;
		border-bottom:none;
		transition: .3s all;
	}
	#last a:hover{
		color:green;
		
	}
	